################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/AKQAWebApp/v15/Server/sqlite3
/.vs
